:root {
    --navbar-links-height: 40px;
    --navbar-name-height: 40px;
    --navbar-height: calc(var(--navbar-links-height) + var(--navbar-name-height));

    --primary-color: #2E4053;
    --secondary-color: #3498DB;
    --accent-color: #E74C3C;
    --background-color: #ECF0F1;
    --text-color: #2C3E50;

    background-color: var(--background-color);
    color: var(--text-color);
}

input[type=submit] {
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
    padding: 5px;
    cursor: progress;
}
form textarea {
    resize: none;
}
input[type=text] {
    padding: 5px;
}

#main-grid {
    display: grid;
    grid-template-areas: ". nav nav ."
    ". main sidebar ."
    ". main sidebar ."
    ". footer footer .";
    grid-template-columns: 1% 2fr 1fr 1%;
    grid-template-rows: var(--navbar-height) 4fr 1fr;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    #main-grid {
        grid-template-areas: ". nav nav ."
        ". main main ."
        ". sidebar sidebar ."
        ". footer footer .";
    }
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

nav {
    background-color: var(--primary-color);
    color: white;
    grid-area: nav;
}
nav span {
    margin: 0;
    margin-left: 10px;
    font-size: calc(var(--navbar-links-height) - 15px);
    line-height: var(--navbar-links-height);
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}
main {
    grid-area: main;
}

#topbar {
    height: var(--navbar-name-height);
    background-color: var(--secondary-color);
    line-height: var(--navbar-name-height);
    font-size: var(--navbar-name-height);
    text-align: center;
}

nav a {
    height: var(--navbar-links-height);
    display: inline-block;
    line-height: var(--navbar-links-height);
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: var(--text-color);
    transition: background-color 0.3s;
}

nav a:first-child {
    margin-left: 0;
}