:root {
    --navbar-links-height: 40px;
    --navbar-name-height: 40px;
    --navbar-height: calc(var(--navbar-links-height) + var(--navbar-name-height));

    --primary-color: #2E4053;
    --secondary-color: #3498DB;
    --accent-color: #E74C3C;
    --background-color: #dedede;
    --text-color: #2C3E50;

    background-color: var(--background-color);
    color: var(--text-color);
}


form textarea {
    resize: none;
    font-family: sans-serif;
}

#links {
    display: flex;
    justify-content: center;
}


form input[type=submit] {
    cursor: pointer;
    background-color: var(--accent-color);
}

.contact #main-form {
    display: flex;
    justify-content: center;
}

.contact form {
    width: min(calc(100vw - 10px), 800px);
}
.contact input[type=text] {
    margin: 5px 0;
}
.home aside h1 {
    font-size: 2rem;
    margin: 0;
}

aside p {
    margin-top: 3px;
}


.home aside h2 {
    font-size: 1rem;
}
.contact form > * {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

#main-grid {
    display: grid;
    grid-template-columns: 1% 2fr 1fr 1%;
    grid-template-rows: var(--navbar-height) 4fr 1fr;
    width: 100%;
    min-height: 100%;
}
.contact, .services, .submitted {
    grid-template-areas: "nav nav nav nav"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
}
.home #logo-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.home #logo-wrapper img {
    max-width: calc(100%);
}
main {
    padding: 0 10px;
}
.home {
    grid-template-areas: "nav nav nav nav"
    ". main sidebar sidebar"
    ". main sidebar sidebar"
    "footer footer footer footer";
}

@media screen and (max-width: 800px) {
    .home {
        grid-template-areas: "nav nav nav nav"
        "main main main main"
        "sidebar sidebar sidebar sidebar"
        "footer footer footer footer";
    }
    .home #logo-wrapper {
        margin-top: 0;
    }
    .home main h1 {
        margin-top: 4px;
        margin-left: 2px;
    }
    .home aside h1 {
        text-align: center;
    }
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: var(--background-color);
}

nav {
    background-color: var(--primary-color);
    color: white;
    grid-area: nav;
}
nav span {
    margin: 0;
    margin-left: 10px;
    font-size: calc(var(--navbar-links-height) - 15px);
    line-height: var(--navbar-links-height);
}

#aside-inner {
    margin: 5px;
}

aside {
    grid-area: sidebar;
    background-color: #c7c7c7;
}

.home main a {
    color: var(--accent-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    grid-area: footer;
    text-align: center;
}
main {
    grid-area: main;
}

#topbar {
    height: var(--navbar-name-height);
    background-color: var(--primary-color);
    line-height: var(--navbar-name-height);
    font-size: calc(var(--navbar-name-height) - 5px);
    text-align: center;
    font-family: sans-serif;
}

nav a {
    height: var(--navbar-links-height);
    display: inline-block;
    line-height: var(--navbar-links-height);
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: var(--accent-color);
    transition: background-color 0.3s;
}

nav a:first-child {
    margin-left: 0;
}

#review-name {
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 5px;
    display: inline-block;
}

#stars {
    color: transparent;
    text-shadow: 0 0 0 var(--accent-color);
    user-select: none;
}

.contact h1 {
    text-align: center;
}

footer a {
    color: white;
}

.services #services-flex {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.services #services-flex img {
    width: 300px;
    height: 450px;
    object-fit: contain;
}
.services #services-flex > div {
    background-color: #cccccc;
    padding: 10px;
    border-radius: 5px;
}

.services #services-flex h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}